/*
Name............: Scott Riddle
Class...........: CPSC 332 Web Development
Assignment......: HW2 - CSS
Last modified...: 09/25/2025
*/

body {
  background-color: rgb(32, 32, 32);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid white;
  border-radius: 30px;
  min-width: 750px;
  margin: 20px;
}

#header-panel {
  display: flex;
  height: 100px;
  border-bottom: 3px solid white;
}

#logo-a {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

#logo {
  border-radius: 50%;
  border: 3px solid white;
  height: 80px;
}

#logo:hover {
  border: 3px solid peru;
}

#links {
  font-size: 32px;
  margin: auto;
}

#links > a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 40px;
  border: 3px solid rgb(32, 32, 32);
}

/* EXTRA CREDIT special effect */
#links > a:hover {
  border: 3px solid peru;
}

#flex-container {
  display: flex;
}

#intro-panel {
  height: 1000px;
  flex-basis: 25%;
  border-right: 3px solid white;
  text-align: center;
}

#profile-pic {
  width: 300px;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 20px;
}

#profile-pic:hover {
  border: 3px solid peru;
}

#intro-panel > h1 {
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#intro-panel > h2 {
  margin-top: 3px;
  margin-bottom: 0px;
  color: peru;
}

#intro-panel > p {
  font-size: 18px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid peru;
  padding: 10px;
  border-radius: 20px;
}

#main-panel {
  flex-basis: 75%;
}
